.logwrapper {
    margin-right: 175px !important;
}
.geoloc {
    color: orange;
    vertical-align: middle;
    display: inline;
    padding-left: 5px;
}
.flag {
    width: 96px;
    height: 48px;
    vertical-align: middle;
}
.buttonmenu {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: -170px;
    position: absolute;
    margin:0;
    padding: 0;
}
.buttonmenu > div:nth-child(1) {
    flex-grow: 1;
}
.buttons {
    border: 0;
    display: block;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    padding: 7px;
}
.buttons:hover {
    border: 0;
    display: block;
    background-color: white;
    color: black;
    margin-bottom: 5px;
    width: 100%;
    padding: 7px;
} 
.otk_version {
    margin-bottom: 0;
}
