.buttons {
    border: 2px black solid;
    padding: 3px;
    display: inline;
    margin-left: 4px;
    background-color: black;
    color: white;
}

.geoloc {
    color: orange;
    vertical-align: middle;
    display: inline;
    padding-left: 5px;
}

.flag {
    width: 10%;
    height: 5%;
    vertical-align: middle;
}