.buttons {
    border: 2px black solid;
    display: block;
    background-color: black;
    color: white;
    margin: 0 auto 5px;
}

.geoloc {
    color: orange;
    vertical-align: middle;
    display: inline;
    padding-left: 5px;
}

.flag {
    width: 96px;
    height: 48px;
    vertical-align: middle;
}
.buttonmenu {
    top: 0;
    right: -175px;
    position: absolute;
}